/* 
span{
    animation-name: textColorAnimation;
    animation-duration: 5s;
    animation-iteration-count: infinite;
} */
div{
    display:  inline-block;
    padding: 5px;
    color: white;
}

p{
    position:relative;
    background-image : url("/wk07/c.media/bacground.png");
    height: 345px;
    width: 555px;
    margin-left: 6px;
    margin-top: -10px;
    z-index: -50;
}
body{
background-color: rgba(184, 184, 184, 0.637);background-image: url("/wk07/c.media/backgroundborder.png");
background-repeat: no-repeat;
height: 20px;
z-index: 50;
}
#fixed00 {
    position: fixed;
    top: 44px;
    right: 50px;
    width: 100px;
    padding: 5px;
    background: red;
    color: white;
}
#fixed01 {
    position: fixed;
    top: 55px;
    right: 15px;
    width: 100px;
    padding: 5px;
    background: rgb(247, 143, 241);
    color: rgb(255, 255, 255);
}
/* 메리크리스마스 글자 */
#fixed {
    position: fixed;
    top: 104px;
    left: 238px;
    width: 14px;
    padding: 5px;
    color: rgb(255, 0, 0);
    font-size: 20pt;
    font: bold;
    font-family: nanumbarunpen;
}
#fixed2 {
    position: fixed;
    top: 111px;
    left: 257px;
    width: 100px;
    padding: 5px;
    color: rgb(0, 143, 60);
    font-size: 15pt;
    font-family: nanumbarunpen;
}
#fixed3 {
    position: fixed;
    top: 111px;
    left: 268px;
    width: 100px;
    padding: 5px;
    color: rgb(202, 255, 10);
    font-size: 15pt;
    font-family: nanumbarunpen;
}
#fixed4 {
    position: fixed;
    top: 111px;
    left: 279px;
    width: 100px;
    padding: 5px;
    color: rgb(109, 230, 190);
    font-size: 15pt;
    font-family: nanumbarunpen;
}
#fixed5 {
    position: fixed;
    top: 112px;
    left: 290px;
    width: 100px;
    padding: 5px;
    color: rgb(230, 54, 0);
    font-size: 15pt;
    font-family: nanumbarunpen;
}
#fixed6 {
    position: fixed;
    top: 143px;
    left: 230px;
    width: 100px;
    padding: 5px;
    color: rgb(248, 226, 24);
    font-size: 20pt;
    font : bold;
    font-family: nanumbarunpen;
}
#fixed7 {
    position: fixed;
    top: 150px;
    left: 243px;
    width: 100px;
    padding: 5px;
    color: rgb(149, 225, 255);
    font-size: 15pt;
    font-family: nanumbarunpen;
}
#fixed8 {
    position: fixed;
    top: 150px;
    left: 255px;
    width: 100px;
    padding: 5px;
    color: rgb(255, 38, 0);
    font-size: 15pt;
    font-family: nanumbarunpen;
}
#fixed9 {
    position: fixed;
    top: 150px;
    left: 263px;
    width: 100px;
    padding: 5px;
    color: rgb(123, 255, 145);
    font-size: 15pt;
    font-family: nanumbarunpen;
}
#fixed10 {
    position: fixed;
    top: 150px;
    left: 270px;
    width: 100px;
    padding: 5px;
    color: rgb(146, 162, 255);
    font-size: 15pt;
    font-family: nanumbarunpen;
}
#fixed11 {
    position: fixed;
    top: 150px;
    left: 277px;
    width: 100px;
    padding: 5px;
    color: rgb(248, 226, 24);
    font-size: 15pt;
    font-family: nanumbarunpen;
}
#fixed12 {
    position: fixed;
    top: 150px;
    left: 285px;
    width: 150px;
    padding: 5px;
    color: rgb(248, 226, 24);
    font-size: 15pt;
    font-family: nanumbarunpen;
}
#fixed13 {
    position: fixed;
    top: 150px;
    left: 298px;
    width: 100px;
    
    padding: 5px;
    color: rgb(255, 0, 0);
    font-size: 15pt;
    font-family: nanumbarunpen;
}
#fixed14 {
    position: fixed;
    top: 150px;
    left: 305px;
    width: 100px;
    padding: 5px;
    color: rgb(243, 95, 169);
    font-size: 15pt;
    font-family: nanumbarunpen;
}

/* 트리 꾸미기 위에서 부터  왼쪽으로 */
#fixed15 {
    position: fixed;
    top: 221px; /*119->221 - 102*/
    left: 276px; /*100->276 - 176*/
    width: 14px;
    padding: 5px;
    color: rgb(255, 0, 0);
    font-size: 20pt;
    font: bold;
    font-family: nanumbarunpen;
}
#fixed16 {
    position: fixed;
    top: 235px;
    left: 239px;
    width: 14px;
    padding: 5px;
    color: rgb(255, 0, 0);
    font-size: 20pt;
    font: bold;
    font-family: nanumbarunpen;
}
#fixed17 {
    position: fixed;
    top: 245px;
    left: 293px;
    width: 14px;
    padding: 5px;
    color: rgb(255, 0, 0);
    font-size: 20pt;
    font: bold;
    font-family: nanumbarunpen;
}
#fixed18 {
    position: fixed;
    top: 265px;
    left: 252.5px;
    width: 14px;
    padding: 5px;
    color: rgb(255, 0, 0);
    font-size: 20pt;
    font: bold;
    font-family: nanumbarunpen;
}
#fixed19 {
    position: fixed;
    top: 288px;
    left: 225px;
    width: 14px;
    padding: 5px;
    color: rgb(255, 0, 0);
    font-size: 20pt;
    font: bold;
    font-family: nanumbarunpen;
}
#fixed20 {
    position: fixed;
    top: 290px;
    left: 273.5px;
    width: 14px;
    padding: 5px;
    color: rgb(255, 0, 0);
    font-size: 20pt;
    font: bold;
    font-family: nanumbarunpen;
}
#fixed21 {
    position: fixed;
    top: 289px;
    left: 328px;
    width: 14px;
    padding: 5px;
    color: rgb(255, 0, 0);
    font-size: 20pt;
    font: bold;
    font-family: nanumbarunpen;
}
#fixed22 {
    position: fixed;
    top: 305px;
    left: 305px;
    width: 14px;
    padding: 5px;
    color: rgb(255, 0, 0);
    font-size: 20pt;
    font: bold;
    font-family: nanumbarunpen;
}
#fixed23 {
    position: fixed;
    top: 314px;
    left: 230px;
    width: 14px;
    padding: 5px;
    color: rgb(255, 0, 0);
    font-size: 20pt;
    font: bold;
    font-family: nanumbarunpen;
}
#fixed24 {
    position: fixed;
    top: 334px;
    left: 188px;
    width: 14px;
    padding: 5px;
    color: rgb(255, 0, 0);
    font-size: 20pt;
    font: bold;
    font-family: nanumbarunpen;
}
#fixed25 {
    position: fixed;
    top: 335px;
    left: 260px;
    width: 14px;
    padding: 5px;
    color: rgb(255, 0, 0);
    font-size: 20pt;
    font: bold;
    font-family: nanumbarunpen;
}
#fixed26 {
    position: fixed;
    top: 333px;
    left: 327px;
    width: 14px;
    padding: 5px;
    color: rgb(255, 0, 0);
    font-size: 20pt;
    font: bold;
    font-family: nanumbarunpen;
}
/* 여기서부터 별 꾸미기 */
#fixed27 {
    position: fixed;
    top: 175px;
    left: 273px;
    width: 14px;
    padding: 5px;
    color: rgb(238, 255, 0);
    font-size: 20pt;
    font: bold;
    font-family: nanumbarunpen;
}
#fixed28 {
    position: fixed;
    top: 184px;
    left: 255px;
    width: 14px;
    padding: 5px;
    color: rgb(238, 255, 0);
    font-size: 20pt;
    font: bold;
    font-family: nanumbarunpen;
}
#fixed29 {
    position: fixed;
    top: 184px;
    left: 290px;
    width: 14px;
    padding: 5px;
    color: rgb(238, 255, 0);
    font-size: 20pt;
    font: bold;
    font-family: nanumbarunpen;
}
#fixed30 {
    position: fixed;
    top: 203px;
    left: 255px;
    width: 14px;
    padding: 5px;
    color: rgb(238, 255, 0);
    font-size: 20pt;
    font: bold;
    font-family: nanumbarunpen;
}
#fixed31 {
    position: fixed;
    top: 203px;
    left: 291px;
    width: 14px;
    padding: 5px;
    color: rgb(238, 255, 0);
    font-size: 20pt;
    font: bold;
    font-family: nanumbarunpen;
}
#fixed32 {
    position: fixed;
    top: 213px;
    left: 273px;
    width: 14px;
    padding: 5px;
    color: rgb(238, 255, 0);
    font-size: 20pt;
    font: bold;
    font-family: nanumbarunpen;
}
/* 별의 가운데 */
#fixed33 {
    position: fixed;
    top: 194px;
    left: 272.8px;
    width: 14px;
    padding: 5px;
    color: rgb(238, 255, 0);
    font-size: 20pt;
    font: bold;
    font-family: nanumbarunpen;
}










@keyframes textColorAnimation1{
        0%{color: black;}
        30%{ color: green;}
    50%{color: red;}
    100%{color: rgb(62, 72, 216);}
}
h2{
    animation-name: textColorAnimation1;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
@keyframes textColorAnimation2{
        0%{color: rgb(255, 0, 0);}
        30%{ color: rgb(218, 105, 0);}
    50%{color: rgb(102, 255, 0);}
    80%{color: rgb(245, 110, 0);}
    100%{color: rgb(255, 0, 0);}
}
span{
    animation-name: textColorAnimation2;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
@keyframes textColorAnimation3{
        0%{color: rgb(0, 255, 213);}
        30%{ color: rgb(0, 218, 47);}
    50%{color: rgb(4, 38, 102);}
    80%{color: rgb(0, 155, 245);}
    100%{color: rgb(255, 0, 212);}
}
span3{
    animation-name: textColorAnimation3;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
@keyframes textColorAnimation4{
        0%{color: rgb(59, 0, 47);}
        30%{ color: rgb(178, 218, 0);}
    50%{color: rgb(71, 90, 124);}
    80%{color: rgb(245, 0, 0);}
    100%{color: rgb(0, 255, 179);}
}
span4{
    animation-name: textColorAnimation4;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
