/* 
span{
    animation-name: textColorAnimation;
    animation-duration: 5s;
    animation-iteration-count: infinite;
} */
div{
    display:  inline-block;
    padding: 5px;
    color: white;
}

body{
background-color: rgba(184, 184, 184, 0.637);
background-image: url("media/backgroundbord-removebg-preview.png");
background-repeat: no-repeat;
z-index: 10;
position: relative;
}

#fixed00 {
    position: fixed;
    top: 44px;
    right: 50px;
    width: 100px;
    padding: 5px;
    background: red;
    color: white;
}
#fixed01 {
    position: fixed;
    top: 40px;
    right: 30px;
    width: 120px;
    padding: 5px;
    background: rgba(9, 22, 80, 0.336);
    color: rgb(255, 255, 255);
}
/* 메리크리스마스 글자 */
#fixed {
    position: fixed;
    top: 184px;
    left: 375px;
    width: 14px;
    padding: 5px;
    color: rgb(255, 0, 0);
    font-size: 25pt;
    font: bold;
    font-family: Arial;
}
#fixed2 {
    position: fixed;
    top: 184px;
    left: 403px;
    width: 100px;
    padding: 5px;
    color: rgb(0, 143, 60);
    font-size: 25pt;
    font-family: Arial;
}
#fixed3 {
    position: fixed;
    top: 184px;
    left: 425px;
    width: 100px;
    padding: 5px;
    color: rgb(202, 255, 10);
    font-size: 25pt;
    font-family: Arial;
}
#fixed4 {
    position: fixed;
    top: 184px;
    left: 450px;
    width: 100px;
    padding: 5px;
    color: rgb(109, 230, 190);
    font-size: 25pt;
    font-family: Arial;
}
#fixed5 {
    position: fixed;
    top: 184px;
    left: 475px;
    width: 100px;
    padding: 5px;
    color: rgb(230, 54, 0);
    font-size: 25pt;
    font-family: Arial;
}
#fixed6 {
    position: fixed;
    top: 215px;
    left: 362px;
    width: 100px;
    padding: 5px;
    color: rgb(248, 226, 24);
    font-size: 25pt;
    font : bold;
    font-family: Arial;
}
#fixed7 {
    position: fixed;
    top: 220px;
    left: 388px;
    width: 100px;
    padding: 5px;
    color: rgb(149, 225, 255);
    font-size: 20pt;
    font-family: Arial;
}
#fixed8 {
    position: fixed;
    top: 220px;
    left: 408px;
    width: 100px;
    padding: 5px;
    color: rgb(255, 38, 0);
    font-size: 20pt;
    font-family: Arial;
}
#fixed9 {
    position: fixed;
    top: 220px;
    left: 420px;
    width: 100px;
    padding: 5px;
    color: rgb(123, 255, 145);
    font-size: 20pt;
    font-family: Arial;
}
#fixed10 {
    position: fixed;
    top: 220px;
    left: 430px;
    width: 100px;
    padding: 5px;
    color: rgb(146, 162, 255);
    font-size: 20pt;
    font-family: Arial;
}
#fixed11 {
    position: fixed;
    top: 220px;
    left: 445px;
    width: 100px;
    padding: 5px;
    color: rgb(248, 226, 24);
    font-size: 20pt;
    font-family: Arial;
}
#fixed12 {
    position: fixed;
    top: 220px;
    left: 456px;
    width: 150px;
    padding: 5px;
    color: rgb(248, 226, 24);
    font-size: 20pt;
    font-family: Arial;
}
#fixed13 {
    position: fixed;
    top: 220px;
    left: 480px;
    width: 100px;
    
    padding: 5px;
    color: rgb(255, 0, 0);
    font-size: 20pt;
    font-family: Arial;
}
#fixed14 {
    position: fixed;
    top: 220px;
    left: 495px;
    width: 100px;
    padding: 5px;
    color: rgb(243, 95, 169);
    font-size: 20pt;
    font-family: Arial;
}

/* 트리 꾸미기 위에서 부터  왼쪽으로 */
#fixed15 {
    position: fixed;
    top: 321px; /*119->221 - 102*/
    left: 434px; /*100->276 - 176*/
    width: 14px;
    padding: 5px;
    color: rgb(255, 0, 0);
    font-size: 37pt;
    font: bold;
    font-family: Arial;
}
#fixed16 {
    position: fixed;
    top: 349px;
    left: 359.5px;
    width: 14px;
    padding: 5px;
    color: rgb(255, 0, 0);
    font-size: 37pt;
    font: bold;
    font-family: Arial;
}
#fixed17 {
    position: fixed;
    top: 368px;
    left: 468px;
    width: 14px;
    padding: 5px;
    color: rgb(255, 0, 0);
    font-size: 37pt;
    font: bold;
    font-family: Arial;
}
#fixed18 {
    position: fixed;
    top: 408px;
    left: 386px;
    width: 14px;
    padding: 5px;
    color: rgb(255, 0, 0);
    font-size: 37pt;
    font: bold;
    font-family: Arial;
}
#fixed19 {
    position: fixed;
    top: 454px;
    left: 332px;
    width: 14px;
    padding: 5px;
    color: rgb(255, 0, 0);
    font-size: 37pt;
    font: bold;
    font-family: Arial;
}
#fixed20 {
    position: fixed;
    top: 457px;
    left: 428px;
    width: 14px;
    padding: 5px;
    color: rgb(255, 0, 0);
    font-size: 37pt;
    font: bold;
    font-family: Arial;
}
#fixed21 {
    position: fixed;
    top: 455px;
    left: 538px;
    width: 14px;
    padding: 5px;
    color: rgb(255, 0, 0);
    font-size: 37pt;
    font: bold;
    font-family: Arial;
}
#fixed22 {
    position: fixed;
    top: 506px;
    left: 342px;
    width: 14px;
    padding: 5px;
    color: rgb(255, 0, 0);
    font-size: 37pt;
    font: bold;
    font-family: Arial;
}
#fixed23 {
    position: fixed;
    top: 488px;
    left: 491px;
    width: 14px;
    padding: 5px;
    color: rgb(255, 0, 0);
    font-size: 37pt;
    font: bold;
    font-family: Arial;
}
#fixed24 {
    position: fixed;
    top: 545px;
    left: 257px;
    width: 14px;
    padding: 5px;
    color: rgb(255, 0, 0);
    font-size: 37pt;
    font: bold;
    font-family: Arial;
}
#fixed25 {
    position: fixed;
    top: 549px;
    left: 403px;
    width: 14px;
    padding: 5px;
    color: rgb(255, 0, 0);
    font-size: 37pt;
    font: bold;
    font-family: Arial;
}
#fixed26 {
    position: fixed;
    top: 545px;
    left: 535px;
    width: 14px;
    padding: 5px;
    color: rgb(255, 0, 0);
    font-size: 37pt;
    font: bold;
    font-family: Arial;
}
/* 여기서부터 별 꾸미기 */
#fixed27 {
    position: fixed;
    top: 235px;
    left: 433px;
    width: 14px;
    padding: 5px;
    color: rgb(238, 255, 0);
    font-size: 40pt;
    font: bold;
    font-family: Arial;
}
#fixed28 {
    position: fixed;
    top: 255px;
    left: 397px;
    width: 14px;
    padding: 5px;
    color: rgb(238, 255, 0);
    font-size: 40pt;
    font: bold;
    font-family: Arial;
}
#fixed29 {
    position: fixed;
    top: 255px;
    left: 470px;
    width: 14px;
    padding: 5px;
    color: rgb(238, 255, 0);
    font-size: 40pt;
    font: bold;
    font-family: Arial;
}
#fixed30 {
    position: fixed;
    top: 295px;
    left: 397px;
    width: 14px;
    padding: 5px;
    color: rgb(238, 255, 0);
    font-size: 40pt;
    font: bold;
    font-family: Arial;
}
#fixed31 {
    position: fixed;
    top: 295px;
    left: 470px;
    width: 14px;
    padding: 5px;
    color: rgb(238, 255, 0);
    font-size: 40pt;
    font: bold;
    font-family: Arial;
}
#fixed32 {
    position: fixed;
    top: 312px;
    left: 432.5px;
    width: 2px;
    padding: 5px;
    color: rgb(238, 255, 0);
    font-size: 40pt;
    font: bold;
    font-family: Arial;
}
/* 별의 가운데 */
#fixed33 {
    position: fixed;
    top: 272px;
    left: 432.8px;
    width: 14px;
    padding: 5px;
    color: rgb(238, 255, 0);
    font-size: 40pt;
    font: bold;
    font-family: Arial;
}










@keyframes textColorAnimation1{
        0%{color: black;}
        30%{ color: green;}
        50%{color: red;}
        100%{color: rgb(62, 72, 216);}
}
h2{
    animation-name: textColorAnimation1;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
@keyframes textColorAnimation2{
        0%{color: rgb(255, 0, 0);}
        30%{ color: rgb(218, 105, 0);}
        50%{color: rgb(102, 255, 0);}
        80%{color: rgb(245, 110, 0);}
        100%{color: rgb(255, 0, 0);}
}
span{
    animation-name: textColorAnimation2;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
@keyframes textColorAnimation3{
        0%{color: rgb(0, 255, 213);}
        30%{ color: rgb(0, 218, 47);}
        50%{color: rgb(4, 38, 102);}
        80%{color: rgb(0, 155, 245);}
        100%{color: rgb(255, 0, 212);}
}
span3{
    animation-name: textColorAnimation3;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
@keyframes textColorAnimation4{
        0%{color: rgb(59, 0, 47);}
        30%{ color: rgb(178, 218, 0);}
        50%{color: rgb(71, 90, 124);}
        80%{color: rgb(245, 0, 0);}
        100%{color: rgb(0, 255, 179);}
}
span4{
    animation-name: textColorAnimation4;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
